{% extends 'base.html' %}
{% block content %}
  <!-- table.table>thead+tbody>tr*13>td*12>div*2>span{e}*2 -->
  <div class="container">
    <h1 class="title is-1 mt-6 has-text-centered">Таблица Менделеева</h1>
    <table class="table is-bordered is-fullwidth">
      <thead></thead>
      <tbody>
        <tr>
          <td rowspan="2">
            <span>Период</span>
          </td>
          <td rowspan="2">
            <span>Ряд</span>
          </td>
          <td colspan="10">
            <span>Группы элементов</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>I</span>
          </td>
          <td>
            <span>II</span>
          </td>
          <td>
            <span>III</span>
          </td>
          <td>
            <span>IV</span>
          </td>
          <td>
            <span>V</span>
          </td>
          <td>
            <span>VI</span>
          </td>
          <td>
            <span>VII</span>
          </td>
          <td colspan="3">
            <span>VIII</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>1</span>
          </td>
          <td>
            <span>1</span>
          </td>
          <td>
            <div><span>H</span><span></span></div>
            <div><span>Водород</span><span></span></div>
          </td>
          <td>
            <div><span></span><span></span></div>
            <div><span></span><span></span></div>
          </td>
          <td>
            <div><span></span><span></span></div>
            <div><span></span><span></span></div>
          </td>
          <td>
            <div><span></span><span></span></div>
            <div><span></span><span></span></div>
          </td>
          <td>
            <div><span></span><span></span></div>
            <div><span></span><span></span></div>
          </td>
          <td>
            <div><span></span><span></span></div>
            <div><span></span><span></span></div>
          </td>
          <td>
            <div><span></span><span></span></div>
            <div><span></span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>He</span><span></span></div>
            <div><span>Гелий</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>2</span>
          </td>
          <td>
            <span>2</span>
          </td>
          <td>
            <div><span>Li</span><span></span></div>
            <div><span>Литий</span><span></span></div>
          </td>
          <td>
            <div><span>Be</span><span></span></div>
            <div><span>Бeриллий</span><span></span></div>
          </td>
          <td>
            <div><span>B</span><span></span></div>
            <div><span>Бор</span><span></span></div>
          </td>
          <td>
            <div><span>C</span><span></span></div>
            <div><span>Углерод</span><span></span></div>
          </td>
          <td>
            <div><span>N</span><span></span></div>
            <div><span>Азот</span><span></span></div>
          </td>
          <td>
            <div><span>O</span><span></span></div>
            <div><span>Кислород</span><span></span></div>
          </td>
          <td>
            <div><span>F</span><span></span></div>
            <div><span>Фтор</span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>Ne</span><span></span></div>
            <div><span>Неон</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>3</span>
          </td>
          <td>
            <span>3</span>
          </td>
          <td>
            <div><span>Na</span><span></span></div>
            <div><span>Натрий</span><span></span></div>
          </td>
          <td>
            <div><span>Mg</span><span></span></div>
            <div><span>Магний</span><span></span></div>
          </td>
          <td>
            <div><span>Al</span><span></span></div>
            <div><span>Алюминий</span><span></span></div>
          </td>
          <td>
            <div><span>Si</span><span></span></div>
            <div><span>Кремний</span><span></span></div>
          </td>
          <td>
            <div><span>P</span><span></span></div>
            <div><span>Фосфор</span><span></span></div>
          </td>
          <td>
            <div><span>S</span><span></span></div>
            <div><span>Сера</span><span></span></div>
          </td>
          <td>
            <div><span>Cl</span><span></span></div>
            <div><span>Хлор</span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>Ar</span><span></span></div>
            <div><span>Аргон</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <span>4</span>
          </td>
          <td>
            <span>4</span>
          </td>
          <td>
            <div><span>K</span><span></span></div>
            <div><span>Калий</span><span></span></div>
          </td>
          <td>
            <div><span>Ca</span><span></span></div>
            <div><span>Кальций</span><span></span></div>
          </td>
          <td>
            <div><span>Sc</span><span></span></div>
            <div><span>Скандий</span><span></span></div>
          </td>
          <td>
            <div><span>Ti</span><span></span></div>
            <div><span>Титан</span><span></span></div>
          </td>
          <td>
            <div><span>V</span><span></span></div>
            <div><span>Ванадий</span><span></span></div>
          </td>
          <td>
            <div><span>Cr</span><span></span></div>
            <div><span>Хром</span><span></span></div>
          </td>
          <td>
            <div><span>Mn</span><span></span></div>
            <div><span>Марганец</span><span></span></div>
          </td>
          <td>
            <div><span>Fe</span><span></span></div>
            <div><span>Железо</span><span></span></div>
          </td>
          <td>
            <div><span>Co</span><span></span></div>
            <div><span>Кобальт</span><span></span></div>
          </td>
          <td>
            <div><span>Ni</span><span></span></div>
            <div><span>Никель</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td><span>5</span></td>
          <td>
            <div><span>Cu</span><span></span></div>
            <div><span>Медь</span><span></span></div>
          </td>
          <td>
            <div><span>Zn</span><span></span></div>
            <div><span>Цинк</span><span></span></div>
          </td>
          <td>
            <div><span>Ga</span><span></span></div>
            <div><span>Галлий</span><span></span></div>
          </td>
          <td>
            <div><span>Ge</span><span></span></div>
            <div><span>Германий</span><span></span></div>
          </td>
          <td>
            <div><span>As</span><span></span></div>
            <div><span>Мышьяк</span><span></span></div>
          </td>
          <td>
            <div><span>Se</span><span></span></div>
            <div><span>Селен</span><span></span></div>
          </td>
          <td>
            <div><span>Br</span><span></span></div>
            <div><span>Бром</span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>Kr</span><span></span></div>
            <div><span>Криптон</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <span>5</span>
          </td>
          <td>
            <span>6</span>
          </td>
          <td>
            <div><span>Rb</span><span></span></div>
            <div><span>Рубидий</span><span></span></div>
          </td>
          <td>
            <div><span>Sr</span><span></span></div>
            <div><span>Стронций</span><span></span></div>
          </td>
          <td>
            <div><span>Y</span><span></span></div>
            <div><span>Иттрий</span><span></span></div>
          </td>
          <td>
            <div><span>Zr</span><span></span></div>
            <div><span>Цирконий</span><span></span></div>
          </td>
          <td>
            <div><span>Nb</span><span></span></div>
            <div><span>Ниобий</span><span></span></div>
          </td>
          <td>
            <div><span>Mo</span><span></span></div>
            <div><span>Молибден</span><span></span></div>
          </td>
          <td>
            <div><span>Tc</span><span></span></div>
            <div><span>Технеций</span><span></span></div>
          </td>
          <td>
            <div><span>Ru</span><span></span></div>
            <div><span>Рутений</span><span></span></div>
          </td>
          <td>
            <div><span>Rh</span><span></span></div>
            <div><span>Родий</span><span></span></div>
          </td>
          <td>
            <div><span>Pd</span><span></span></div>
            <div><span>Палладий</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>7</span>
          </td>
          <td>
            <div><span>Ag</span><span></span></div>
            <div><span>Серебро</span><span></span></div>
          </td>
          <td>
            <div><span>Cd</span><span></span></div>
            <div><span>Кадмий</span><span></span></div>
          </td>
          <td>
            <div><span>In</span><span></span></div>
            <div><span>Индий</span><span></span></div>
          </td>
          <td>
            <div><span>Sn</span><span></span></div>
            <div><span>Олово</span><span></span></div>
          </td>
          <td>
            <div><span>Sb</span><span></span></div>
            <div><span>Сурьма</span><span></span></div>
          </td>
          <td>
            <div><span>Te</span><span></span></div>
            <div><span>Теллур</span><span></span></div>
          </td>
          <td>
            <div><span>I</span><span></span></div>
            <div><span>Йод</span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>Xe</span><span></span></div>
            <div><span>Ксенон</span><span></span></div>
          </td>

        </tr>
        <tr>
          <td rowspan="2">
            <span>6</span>
          </td>
          <td>
            <span>8</span>
          </td>
          <td>
            <div><span>Cs</span><span></span></div>
            <div><span>Цезий</span><span></span></div>
          </td>
          <td>
            <div><span>Ba</span><span></span></div>
            <div><span>Барий</span><span></span></div>
          </td>
          <td>
            <div><span>La</span><span></span></div>
            <div><span>Лантан</span><span></span></div>
          </td>
          <td>
            <div><span>Hf</span><span></span></div>
            <div><span>Гафний</span><span></span></div>
          </td>
          <td>
            <div><span>Ta</span><span></span></div>
            <div><span>Тантал</span><span></span></div>
          </td>
          <td>
            <div><span>W</span><span></span></div>
            <div><span>Вольфрам</span><span></span></div>
          </td>
          <td>
            <div><span>Re</span><span></span></div>
            <div><span>Рений</span><span></span></div>
          </td>
          <td>
            <div><span>Os</span><span></span></div>
            <div><span>Осмий</span><span></span></div>
          </td>
          <td>
            <div><span>Ir</span><span></span></div>
            <div><span>Иридий</span><span></span></div>
          </td>
          <td>
            <div><span>Pt</span><span></span></div>
            <div><span>Платина</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>9</span>
          </td>
          <td>
            <div><span>Au</span><span></span></div>
            <div><span>Золото</span><span></span></div>
          </td>
          <td>
            <div><span>Hg</span><span></span></div>
            <div><span>Ртуть</span><span></span></div>
          </td>
          <td>
            <div><span>Tl</span><span></span></div>
            <div><span>Таллий</span><span></span></div>
          </td>
          <td>
            <div><span>Pb</span><span></span></div>
            <div><span>Свинец</span><span></span></div>
          </td>
          <td>
            <div><span>Bi</span><span></span></div>
            <div><span>Вимут</span><span></span></div>
          </td>
          <td>
            <div><span>Po</span><span></span></div>
            <div><span>Полоний</span><span></span></div>
          </td>
          <td>
            <div><span>At</span><span></span></div>
            <div><span>Астат</span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>Rn</span><span></span></div>
            <div><span>Радон</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <span>7</span>
          </td>
          <td>
            <span>10</span>
          </td>
          <td>
            <div><span>Fr</span><span></span></div>
            <div><span>Франций</span><span></span></div>
          </td>
          <td>
            <div><span>Ra</span><span></span></div>
            <div><span>Радий</span><span></span></div>
          </td>
          <td>
            <div><span>Ac</span><span></span></div>
            <div><span>Актиний</span><span></span></div>
          </td>
          <td>
            <div><span>Rf</span><span></span></div>
            <div><span>Резерфордий</span><span></span></div>
          </td>
          <td>
            <div><span>Db</span><span></span></div>
            <div><span>Дубний</span><span></span></div>
          </td>
          <td>
            <div><span>Sg</span><span></span></div>
            <div><span>Сиборгий</span><span></span></div>
          </td>
          <td>
            <div><span>Bh</span><span></span></div>
            <div><span>Борий</span><span></span></div>
          </td>
          <td>
            <div><span>Hs</span><span></span></div>
            <div><span>Хассий</span><span></span></div>
          </td>
          <td>
            <div><span>Mt</span><span></span></div>
            <div><span>Мейтнерий</span><span></span></div>
          </td>
          <td>
            <div><span>Ds</span><span></span></div>
            <div><span>Дармштадтий</span><span></span></div>
          </td>
        </tr>
        <tr>
          <td>
            <span>11</span>
          </td>
          <td>
            <div><span>Rg</span><span></span></div>
            <div><span>Рентгений</span><span></span></div>
          </td>
          <td>
            <div><span>Cn</span><span></span></div>
            <div><span>Коперниций</span><span></span></div>
          </td>
          <td>
            <div><span>Nh</span><span></span></div>
            <div><span>Нихоний</span><span></span></div>
          </td>
          <td>
            <div><span>Fl</span><span></span></div>
            <div><span>Флеровий</span><span></span></div>
          </td>
          <td>
            <div><span>Mc</span><span></span></div>
            <div><span>Московий</span><span></span></div>
          </td>
          <td>
            <div><span>Lv</span><span></span></div>
            <div><span>Ливерморий</span><span></span></div>
          </td>
          <td>
            <div><span>Ts</span><span></span></div>
            <div><span>Теннессин</span><span></span></div>
          </td>
          <td colspan="3">
            <div><span>Og</span><span></span></div>
            <div><span>Оганесон</span><span></span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}